.interaction-container {
  svg {
    font-size: 28px;
    margin-right: 10px;
    color: var(--charColor) !important;
    cursor: pointer;
  }
  :not(button) > svg:not([color]) {
    color: var(--charColor) !important;
  }
  .like-icon {
    color: var(--notificationColor) !important;
  }
  .unlike-icon {
    color: var(--charColor) !important;
  }
}
.number-of-likes {
  font-size: 14px;
  font-weight: 900 !important;
}
