:root {
    --mainColor: #9900ffff;
    --backgroundColor: #ffffff;
    --charColor: #000000;
    --defaultColor: #949494;
    --notificationColor: #FF3838;
    --lightColor: #EDECEC;
    --darkBackground: rgba( 45, 45, 45, 0.8 );
}