:root {
    --mainColor: #0095f6;
    --backgroundColor: #ffffff;
    --charColor: #000000;
    --defaultColor: #949494;
    --notificationColor: #FF3838;
    --lightColor: #EDECEC;
    --darkBackground: rgba( 45, 45, 45, 0.8 );
    --hoverColor: rgba(0, 0, 0, 0.05);
    --mainHoverColor: #E7F3FF;
}