:root {
  --mainColor: #0095f6;
  --backgroundColor: #ffffff;
  --charColor: #000000;
  --defaultColor: #949494;
  --notificationColor: #ff3838;
  --lightColor: #edecec;
  --darkBackground: rgba(45, 45, 45, 0.8);
  --hoverColor: rgba(0, 0, 0, 0.05);
  --mainHoverColor: rgba(224, 241, 255, 1);
  --onlineColor: #31a24c;
  --purpleLightColor: rgba(227, 109, 227, 0.5);
}
