.nav-container {
  background-color: var(--backgroundColor) !important;
  color: var(--mainColor) !important;
  display: grid !important;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  height: 70px;

  .app-logo {
    grid-column-start: 3;
    grid-column-end: span 1;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
  }

  .app-search {
    grid-column-start: 5;
    grid-column-end: span 2;
    display: flex;
    flex-direction: row;
    color: var(--charColor);
    background-color: var(--lightColor);
    border-radius: 10px;
    .search-icon {
      margin: 5px;
      align-items: center;
      left: 5px;
      top: 5px;
    }
    .search-text {
      width: 80%;
    }
  }

  .app-user {
    grid-column-start: 10;
    grid-column-end: 10;
    display: flex;
    justify-content: flex-start;
    button {
      padding: 5px !important;
      &:hover {
        background-color: var(--lightColor) !important;
      }
    }
    .MuiButton-root {
      margin: 5px 0;
      padding: 0;
      border-radius: 100px;
      .user-avatar {
        img {
          border-radius: 100px;
        }
        width: 50px;
        height: 50px;
      }
      .user-name {
        text-transform: capitalize;
        margin-left: 5px;
        color: var(--charColor);
        font-weight: 900;
      }
    }
  }
}
