@import "../../styles/colors.scss";
.post-container {
  margin-bottom: 10px;
  border: solid 0.25px var(--lightColor);
  .owner-container {
    width: 40px;
    height: 40px;
    display: flex;
    img {
      border-radius: 100px;
      border: solid 0.5px var(--lightColor);
    }
    .right-content {
      min-width: 100px;
      margin-left: 10px;
    }
    .owner-name {
      color: var(--charColor);
      font-weight: 600;
    }
    .post-time {
      font-size: 13px;
      color: var(--defaultColor);
    }
  }

  .post-caption {
    margin: 10px 0;
  }

  .post-images {
    margin: auto;
    padding: 0px;
    width: 714px;
    height: 500px;
  }

  .interaction-container {
    svg {
      font-size: 28px;
      margin-right: 10px;
    }
    .like-icon {
      color: var(--notificationColor);
    }
  }
  .number-of-likes {
    font-size: 14px;
  }

  .draft-comment-container {
    margin: 10px 0;
    display: flex;
    vertical-align: middle;
    img {
      border-radius: 100px;
      border: solid 0.5px var(--lightColor);
    }
    .comment-input {
      position: relative;
      margin: 0 10px;
      width: 80%;
      padding: 0 20px;
      background-color: var(--lightColor);
      border-radius: 20px;
      .MuiInputBase-root {
        width: 90%;
        height: 100%;
      }
      .different-text-icon {
        svg {
          font-size: 28px;
        }
        position: absolute;
        right: 10px;
        bottom: 0px;
      }
    }

    .send-icon {
      margin-top: 5px;
      color: var(--mainColor);
      font-size: 32px;
      height: 100%;
    }
  }

  .sended-comments-container {
    .comment-container {
      margin: 10px 0;
      display: flex;
      vertical-align: middle;
      img {
        border-radius: 100px;
        border: solid 0.5px var(--lightColor);
      }
      .content {
        position: relative;
        margin: 0 10px;
        max-width: 60%;
        padding: 0 20px;
        background-color: var(--lightColor);
        border-radius: 20px;
        height: 100%;
        padding: 10px;
      }
    }
    .view-more{
        margin-left: 10px;
        font-size: 14px;
    }
  }
}
