@import "./styles/colors.scss";
.page-content{
  margin: auto;
  margin-top: 80px;
  width: 750px;
}
button{
  &:hover{
    background-color: var(--mainColor) !important;
    color: var(--backgroundColor) !important;
  }
}