@import "./styles/colors.scss";
.page-content {
  margin: auto;
  &.fullWidth {
    width: 100%;
  }
  &.notFullWidth {
    margin-top: 80px;
    width: 750px;
  }
}
:root {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
}
