@import "./styles/colors.scss";
.page-content {
  margin: auto;
  &.fullWidth {
    width: 100%;
  }
  &.notFullWidth {
    margin-top: 80px;
    width: 100%;
    min-height: calc(100vh - 350px);
  }
}
:root {
  font-family: "-apple-system,BlinkMacSystemFont", "Segoe UI", "Roboto",
    "Helvetica", "Arial", "sans-serif" !important;
  font-size: 14px;
  background-color: rgba(250,250,250 ,1);
}
