.report-admin-modal {
  position: relative;
  .post-details-container {
    margin: 20px auto 0 auto !important;
    width: 1000px !important;
    height: 700px !important;
    background-color: var(--backgroundColor);
    border: 0.25px solid var(--lightColor);
    .post-details-interation {
      box-shadow: none !important;
    }
  }
}
